/* Root */
:root {
    --gr-divider-width: 50%;
    --gr-divider-color: white;
    --gr-divider-height: 3px;
    --gr-circled-icon-width: 50px;
    --gr-circled-icon-height: 50px;
    --gr-circled-icon-font-size: 20px;
    --gr-circled-icon-border-weight: 1px;
    --gr-circled-icon-border-type: solid;
    --gr-circled-icon-border-color: white;
    --gr-circled-icon-bg-color: transparent;
    --gr-circled-icon-radius: 50%;
}

/* Background Colors */
header {
    background-color: #2C3E50;
}

main section:nth-child(odd) {
    background-color: #1ABC9C;
}

.gr-top-footer-bg-color {
    background-color: #3A546D;
}

.gr-bottom-footer-bg-color {
    background-color: #2C3E50;
}

.gr-form-button {
    background-color: #1ABC9C;
    color: white;
}

.gr-form-button:hover {
    background-color: #1da78b;
}

footer a {
    color: #1ABC9C;
}

.copyright-size {
    font-size: 13px;
    padding-top: 40px;
}

/* Media Query */
@media screen and (min-width: 992px) {
    :root {
        --gr-divider-width: 25%;
    }
}